/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@media screen and (max-width: 460px){
.element {display:none}
}

/* デフォルトのスタイル */
.video-iframe {
  width: 320px;
  height: 180px;
}

/* 画面幅が460px以下の場合のスタイル */
@media screen and (max-width: 460px) {
  .video-iframe {
    width: 160px;
    height: 90px;
  }
}

/* デフォルトのスタイル */
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* 画面幅が460px以下の場合のスタイル */
@media screen and (max-width: 460px) {
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
